.featured-products {
  padding-block: 60px;

  .eyebrow {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -1%;
    text-transform: uppercase;
  }

  .title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -2%;

    @media (min-width: 768px) {
      font-size: 42px;
    }
  }

  .swiper {
    @media (max-width: 768px) {
      margin-right: -16px;
    }
  }

  .swiper-wrapper {
    position: relative;
    padding-bottom: 40px;
  }

  .swiper-next-page-btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
  }

  .card {
    position: relative;
  }

  .card-image-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    padding: 32px;
    background-color: var(--color-primary-grey);
    border-radius: 6px;
    margin-bottom: 24px;
  }

  .product-image {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .badge {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .card-button {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
    width: 24px;

    img:first-child {
      opacity: 0;
    }

    &:hover img:first-child {
      opacity: 1;
    }

    &:hover img:last-child {
      opacity: 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .card-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 12px;

    .product-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;

      @media (min-width: 768px) {
        font-size: 20px;
      }
    }

    .product-price {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -1%;
      text-transform: uppercase;
    }
  }
}
