@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #1d1d1d;
  --color-primary-grey: #eaeae8;
  --color-white: #fff;
  --badge-primary-color: #d9d6b0;
  --badge-secondary-color: #d4b0d9;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button {
  background-color: transparent;
  border-radius: 0;
  border: none;
  cursor: pointer;
  text-transform: inherit;
}

/* Utility classes */
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 16px;

  @media (min-width: 1024px) {
    padding-inline: 42px;
  }
}
